<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n%throwable{short.message}{separator(\n)}" />
        </Console>
        <SLF4J name="SLF4J">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n%throwable{short.message}{separator(\n)}" />
        </SLF4J>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="SLF4J" />
        </Root>
    </Loggers>
</Configuration>
