<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n%throwable{short.message}{separator(\n)}" />
        </Console>
        <SystemdJournal name="SystemdJournal">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n%throwable{short.message}{separator(\n)}" />
        </SystemdJournal>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="SystemdJournal" />
        </Root>
    </Loggers>
</Configuration>
